
.customSection{
    height: 0;
    background-color: white;
    text-align: center;
    position: relative;
}
.customSection::after{
    content: '';
    position: absolute;
    left: 47%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
    clear: both;
}

@media only screen and (max-width: 600px) {
    .customSectionMembre::after{
        content: '';
        position: absolute;
        left: 43%;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid rgba(49, 39, 131, var(--tw-bg-opacity));
        clear: both;
    }
  }

  