*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	font-size: calc(60% + 1vmin);
}
body {
	background-color: white;
}
.css-1q8tt2r-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: #8e88bb !important;
}
.css-1blc7dc-MuiInputBase-root-MuiInput-root:after {
	border-bottom: #ffdd0e 2px solid !important;
}

.css-cyr6es-MuiFormLabel-root-MuiInputLabel-root {
	color: #50508f !important;
}
