*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	font-size: calc(60% + 1vmin);
}
body {
	background-color: white;
}
.MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: #8e88bb !important;
}
.MuiInputBase-root-MuiInput-root:after {
	border-bottom: #ffdd0e 2px solid !important;
}

.MuiAutocomplete-endAdornment::after {
	border-bottom: #ffdd0e 2px solid !important;
}

.MuiFormLabel-root-MuiInputLabel-root {
	color: #50508f !important;
}

.MuiAutocomplete-endAdornment:after {
	border-bottom: 2px solid yellow !important;
}
